<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta name="viewport" content="user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, height=device-height">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
<link rel="stylesheet" type="text/css" href="../static/css/custom.css">
</head>
<body>
<header>
  <div class="header">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="#">YOUR COMPANY</a></div>
        <ul class="links">
          <li><a href="#">Synopsis</a></li>
          <li><a href="#">Scenario</a></li>
          <li><a href="#">Conti</a></li>
          <li><a href="#">Dev Character</a></li>
          <li><a href="#">PPT</a></li>
          <li><a href="#">Budgeting</a></li>
          <li><a href="#">Scheduling</a></li>
          <!-- <li>
            <a href="#" class="desktop-link">Features</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Features</label>
            <ul>
              <li><a href="#">Drop Menu 1</a></li>
              <li><a href="#">Drop Menu 2</a></li>
              <li><a href="#">Drop Menu 3</a></li>
              <li><a href="#">Drop Menu 4</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
      <div class="btn_in">login</div>
    </nav>
  </div>
</header>
</body>
</html>
